---
layout: default
title: Posts
---

  <div class="row">
    <div class="one-half column">
      {% for post in site.posts %}
        {% capture thecycle %}{% cycle 'group 1': 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'odd' %}
          {% include postsummary.html content=post %} 
        {% endif %}
      {% endfor %}
    </div>
    <div class="one-half column">
      {% for post in site.posts %}
        {% capture thecycle %}{% cycle 'group 2': 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'even' %}
          {% include postsummary.html content=post %} 
        {% endif %}
      {% endfor %}
    </div>
  </div>
