.image-wrapper {
    text-align: center;

    .image-caption {
        color: $gray;
        margin-top: 0.2em;
    }
}

.post-thumbnail-container {
    margin: 0;
    overflow: hidden;
    width: 100%;
    max-height: 10em;

    .post-thumbnail {
        transform: translate(0px, -25%);
    }
}

.post-topimage-container {
    margin: 0;
    max-width: 100%;

    .post-thumbnail {
        transform: none;
    }
}